@media screen and (max-width: 576px) {
    .hero-section,
    .baner, 
    .box-container, 
    .run-container, 
    .footer-content, 
    .second-part-bmi{
        flex-direction: column;
    }
    .hero-section{
        padding-top: 58px ;
    }
    .navber{
        
        padding-bottom: 80px;
    }

   
    .banner-content, .navber{
        margin: 0px 20px; 
        
    }

    .hambuger-menu-btn{
        display: block;
        color: aliceblue;
        margin-right: 16px;
    }
    nav ul li{
       display: none;
    }

 
    .cards{
        margin-top: 36px;
    }
    .run-images{
        margin:  35px auto;
        
    }
    .meet-images-box{
        grid-template-columns: repeat(1, 1fr);
    }


    .banner-content-title{
        font-size: 2.4rem;
        
    }
    .banner-content-description{
        max-width: 250px;
    }

    .run-images{
        padding: 35px;
        margin-top: 0px;
    }
    
}