@media screen and (max-width: 576px) {
    .hero-section{
        flex-direction: column;
    }
    .baner{
        flex-direction: column;
    }
    .banner-content{
        margin-left: 70px;
    }

    .hambuger-menu-btn{
        display: block;
        color: aliceblue;
        margin-right: 16px;
    }
    nav ul li{
       display: none;
    }

    .box-container{
        flex-direction: column;
        
    }
    .cards{
        margin-top: 36px;
    }
    .run-container{
        flex-direction: column;
    }
    .run-images{
        margin:  35px auto;
        
    }
    .meet-images-box{
        grid-template-columns: repeat(1, 1fr);
    }
}